/* Global styles */
:root {
  /* Set the default font family */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  /* Improve font rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Styles for the product image */
.product-image {
  /* Set the maximum width of the product image */
  max-width: 400px;
  /* Ensure the image scales responsively */
  width: 100%;
}

/* Styles for the rating */
.rating span {
  /* Set the color of the rating stars */
  color: #ffc000;
}

/* Styles for large images */
img.large {
  /* Set the maximum width of large images */
  max-width: 100%;
}

img.thumbnail {
  /* Set the height to 80px */
  height: 80px;
}

small-container {
  /* Set the maximum width of small-container */
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}
